<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="labelEditor">
<head>
    <title></title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
</head>
<body class="container"> 

    <div class="list-inline" ng-controller="labelCollection as vm">
        <ul>
            <li class="list-unstyled" ng-repeat="label in vm.sequence">
                <button class="btn btn-sm btn-danger" ng-click="vm.delete(label)">Delete</button>
                <span ng-bind="label.Id"></span>
                <span contenteditable
                      ng-model="label.Text"
                      ng-change="vm.update(label)"
                      ng-model-options="{debounce: 250}"
                      ng-style="{'background-color' : label.Color}">
                </span>
            </li>
        </ul>
        <div>
            New Label:
            <form class="form-inline">
                <label class="label" for="colorValue">Color:</label>
                <input class="input-sm" type="color" name="colorValue" ng-model="vm.newColorValue" />
                <label class="label" for="labelMessage">Message:</label>
                <input class="input-sm" type="text" name="labelMessage" ng-model="vm.newLabelMessage" />
                <button class="btn btn-sm btn-primary" ng-click="vm.addColor()"><span class="glyphicon glyphicon-floppy-save"></span> Add Label</button>
            </form>
        </div>


    </div>

    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <script src="App_Scripts/labelEditor.js"></script>
    <script src="App_Scripts/labelCollection.js"></script>
    <script src="App_Scripts/contentEditable.js"></script>
    <script src="App_Scripts/labelDataService.js"></script>
</body>
</html>
